{% extends "blog/base.html" %}
{% block content %}
<h1>Catalogo</h1>  

{% for RegistroMascota in lista_catalogo %}
    {% if RegistroMascota.adoptante == 'Disponible' %}
    <br><div class="col-md-7">
        <div class="list-group-item"> <img class="rounded-circle account-img" src="{{RegistroMascota.imagen.url}}" >
        <ul class="list-group-item">
        <h2 class="account-heading"> {{RegistroMascota.nombre}} </h2>
        <li class="list-group-item"> ID: {{RegistroMascota.id}}</li>
        <li class="list-group-item"> Tipo de comida: {{RegistroMascota.alimentacion}}</li>
        <li class="list-group-item"> Edad: {{RegistroMascota.edad}}</li>
        <li class="list-group-item"> Fecha de rescate: {{RegistroMascota.fecha_de_rescate|date:"d F Y P "}}</li>
        <li class="list-group-item"> Raza: {{RegistroMascota.raza}}</li>
        <li class="list-group-item"> Enfermedades: {{RegistroMascota.enfermedades}}</li>
        </ul>
        </div>
        </div>
    {% else %}
        
    <div class="col-md-7">  
        <h3 class="list-group-item">A este lomito ya lo adoptaron!</h3>
    </div>
    {% endif %}
{% endfor %}
{% endblock content %}