{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="col-md-7">
<div class="content-section">
    <div class="media">
      <img class="rounded-circle account-img" src="{{user.profile.image.url}}">
      <div class="media-body">
        <h2 class="account-heading">{{user.username}}</h2>
        <p class="text-secondary">{{user.email}}</p>
      </div>
    </div>
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
     <fieldset class="form-group">
         <legend class="border-bottom mb-4">
             Profile Information
         </legend>                
         {{ u_form|crispy }}
         {{ p_form|crispy }}
     </fieldset>
     <div class="form-group">
         <button class="btn btn-outline-info" type="summit">
           Update
         </button>
     </div>
   </form>
{% if user.is_superuser %}
    <button class="btn btn-outline-info">
      <a href="registromascota/">    
        Registrar mascota
      </a>
    </button>
{% endif %}
<div class="col-md-15">
  <div class="media">
    <h2>Mascotas en proceso de adopcion</h2>
<!--   <button class="btn btn-outline-info">
      <a href="comida/">    
        Actualizar comida de las mascotas
      </a>
    </button>
-->   
{% for RegistroMascota in lista_catalogo %}
{% if RegistroMascota.adoptante == user.username %}
<div class="content-section">
    <img class="rounded-circle account-img" src="{{RegistroMascota.imagen.url}}" >
    <h2> {{RegistroMascota.nombre}}</h2>
    <div class="media-body">
      <ul>
    <li> ID: {{RegistroMascota.id}}</li>
    <li> Tipo de comida: {{RegistroMascota.alimentacion}}   
    </li>
    <li> Edad: {{RegistroMascota.edad}}</li>
    <li> Fecha de rescate: {{RegistroMascota.fecha_de_rescate|date:"d F Y P "}}</li>
    <li> Raza: {{RegistroMascota.raza}}</li>
    <li> Enfermedades: {{RegistroMascota.enfermedades}}</li>
    </ul>
  </div>
</div>

  {% endif %}
{% endfor %}


{% endblock content %}